{% extends "users/base.html" %}

{% block title %}{{title}}{% endblock %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <h1>Добро пожаловать в мир кулинарии</h1>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button class="btn btn-primary" type="submit">Регистрация</button>
            </div>
        </form>
        <div>
            <small>
                <p> Уже есть аккаунт? <a href="{% url 'login' %}">Вход</a></p>
            </small>
        </div>
    </div>
{% endblock content %}